[2014-03-03 19:23] mjallday opened #1 "Include runit"
I'm using 2.0.0 of this cookbook and get the following error

[code]

I've worked around it by adding `include_recipe 'runit'` at the top of my cookbook but this recipe should include it if it depends on it.

[2014-04-08 03:32] X0nic opened #2 "Recipe Compile Error in /var/chef/cache/cookbooks/rundeck/recipes/chef-rundeck.rb"
I get the following error when using the chef-rundeck recipe.

The error seems to be a call to `run_restart` inside the `runit_service` lwrp. Looking at the runit docs, I can not find anything mentioning `run_restart`. Is this line an error?

[code]

[2014-04-30 21:57] #1 closed, assigned to nobody

[2014-05-18 13:37] jgoldschrafe opened #6 "chef-rundeck reinstalls Chef onto system Ruby"
When the chef-rundeck gem is installed, it pulls in the chef gem as a dependency, causing Chef to be installed into the system Ruby and installed into /usr/local/bin. This pathing causes it to be the default version of `chef-client`, `ohai`, etc. in most cases; that, in turn, causes unpredictable behavior at best and completely breaks Chef at worst.

Installing the chef-rundeck gem using the `chef

[2014-05-19 18:36] #6 closed, assigned to nobody

[2014-05-19 18:37] #2 closed, assigned to nobody

[2014-06-03 01:42] jgoldschrafe opened #10 "Admin credentials hardcoded to default admin/admin"
These should probably be configurable. If not, they should definitely be changed.

[2014-07-01 13:42] saimak opened #14 "Hard coded data bag"
Hard coded data bag names in recipes is not suitable while working with multiple environments. We are forced to use same data bag in all environments.

[2014-07-01 19:03] #14 closed, assigned to nobody

[2014-07-10 15:31] dodwyer opened #15 "rundeck cookbook depends on rundeck cookbook"
metadata.rb currently contains:

`depends "rundeck"`

This leads Berkshelf to complain with:

`/opt/chefdk/embedded/lib/ruby/gems/2.1.0/gems/semverse-1.1.0/lib/semverse/version.rb:78: stack level too deep (SystemStackError)`

Is there a reason for this inclusion or can it be removed as part of the next release?

[2014-07-10 16:41] #15 closed, assigned to nobody

[2014-07-23 15:25] cstewart87 opened #16 "Can chef-rundeck be run on the rundeck server?"
If so, does the chef_rundeck_url need to be 'http://localhost:9980'?

[2014-08-17 19:14] akoldaev opened #20 "Enable rundeck in apache2 and start rundeckd during chef run"
I had to perform a couple of additional actions to get rundeck up and running in Vagrant ubuntu 12.04 box. Looks like the cookbook needs to be adjusted so user doesn't need to run those manually.

1) Provision a Vagrant box

[code]

This worked fine. But `http://localhost:8080` was saying there's no websites on that port.
So I had to perform the following actions:

2) Enable rundeck website in apa

[2014-08-26 21:42] pcross616 opened #23 "Create LWRP: User"

[2014-08-26 21:42] pcross616 opened #24 "Create LWRP: Project"

[2014-08-26 21:42] pcross616 opened #25 "Create LWRP: Job"

[2014-08-26 21:42] pcross616 opened #26 "Create LWRP: Execute"

[2014-08-26 21:46] pcross616 opened #27 "Create LWRP: Plugin"

[2014-08-28 17:37] michaeldeman opened #28 "Making apache2 and java installation optional"
Hi,
We are looking at wrapping this cookbook but do not want apache2 installed and also have a different recipe for installing java.  I was wondering I forked your cookbook and made those optional via a couple of attributes if you would be open for a pull request to merge it.
Thanks,
- Mike

[2014-08-29 17:20] #28 closed, assigned to nobody

[2014-10-14 00:39] bscott opened #32 "Rundeck cookbook"
Is this cookbook being maintained? , if not can I get added as a maintainer?

Documentation needs to be generated https://supermarket.getchef.com/cookbooks/rundeck

[2014-10-16 16:17] #16 closed, assigned to nobody

[2014-12-18 14:52] efasel opened #36 "Please add an example for the rundeck_users data bag item to the documentation"

[2014-12-18 17:49] #36 closed, assigned to nobody

[2014-12-18 17:51] #10 closed, assigned to nobody

[2014-12-18 17:53] #20 closed, assigned to nobody

[2015-01-15 14:47] damacus opened #37 "Repo size"
The current repo size is ~270mb due to a number of binary files in the repo (debs/msi's etc)

Would it be possible to remove these from the history, and pull down the respective installer files via repos or a mirror?

[2015-01-30 17:35] GolubevV opened #43 "Framework winrm timeout option does not work."
Winrm timeout option, as configured right now in the cookbook template, does not seem to work - my winrm jobs keep failing 60 seconds after not writing to output stream, even though in cookbook-generated framework properties file I have the following config:
framework.winrm-timeout = PT900.000S

The issue seem to be fixed with removing white-spaces before and after the equal sign, making the templ

[2015-01-30 23:12] #43 closed

[2015-01-30 23:13] GolubevV commented on #43
After checking rundeck job execution with debug parameter - the timeout value is passed correctly to the overthere library, seem like the issue is at winrm service configuratoin site - will check further

[2015-02-23 22:46] holycow001 opened #44 "Can't update to new version of rundeck"
I'm trying to install rundeck-2.4.2-1-GA.deb. I override the override['rundeck']['deb']['package'] = 'rundeck-2.4.2-1-GA.deb' & override['rundeck']['checksum'] = 'd2038440542b64921449e4ea0d7899f723bb29a58d713532fb8a0ab434ddac89'.

When i run the cookbook, i get

 ================================================================================
           Error executing action `install` on resource

[2015-02-25 09:00] pcross616 commented on #44
seems the package is failing to install.

if you run dpkg -i rundeck-2.4.2-1-GA.deb what do you get?

Is this an upgrade?

[2015-02-25 21:12] holycow001 commented on #44
it installs without errors...

Preparing to unpack rundeck-2.4.2-1-GA.deb ...
Unpacking rundeck (2.4.2) over (2.4.2) ...
Setting up rundeck (2.4.2) ...
usermod: no changes
Processing triggers for ureadahead (0.100.0-16) ...

[2015-02-25 21:18] pcross616 commented on #44
That’s odd it says it was installed already.  Can you remove it and run chef-client in debug mode.

From: frank kang [mailto:notifications@github.com]
Sent: Wednesday, February 25, 2015 1:13 PM
To: Webtrends/rundeck
Cc: Peter Crossley
Subject: Re: [rundeck] Can't update to new version of rundeck (#44)

it installs without errors...

Preparing to unpack rundeck-2.4.2-1-GA.deb ...
Unpacking rundeck

[2015-02-25 23:13] holycow001 commented on #44
sorry about that, i spun up a new server and received the same error. ssh'd to the box, wget'd the rundeck .deb file and ran dpkg -i. Here's the out put.

root@default-ubuntu-1404:/home/vagrant# dpkg -i rundeck-2.4.2-1-GA.deb
Selecting previously unselected package rundeck.
(Reading database ... 81604 files and directories currently installed.)
Preparing to unpack rundeck-2.4.2-1-GA.deb ...
Unpack

[2015-03-31 17:10] holycow001 commented on #44
Closing this issue. I grabbed the cookbook from Github instead of supermarket and that fixed the issue.

[2015-03-31 17:10] #44 closed

[2015-03-31 18:33] pcross616 commented on #44
Ah yes trying to get the market place cookbook updated but having an issue with that.  Thanks for reminding me.

Sent from my Windows Phone
________________________________
From: frank kang<mailto:notifications@github.com>
Sent: �3/�31/�2015 10:10 AM
To: Webtrends/rundeck<mailto:rundeck@noreply.github.com>
Cc: Peter Crossley<mailto:peterc@xley.com>
Subject: Re: [rundeck] Can't update to new versio

[2015-04-21 14:13] tomkregenbild opened #47 "Cookbook is not working with rundeck version 2.5"
It seems that since the upgrade to version 2.5 of rundeck and the upgrade of grails to 2.4.4 together with this version there are problems that cause the server to fail after running chef.

1. in order for the rundeckd service to start without failing I had to comment out the following parts in "/var/lib/rundeck/exp/webapp/WEB-INF/web.xml":

        <filter>
                <filter-name>sitemesh</

[2015-05-04 12:56] tomkregenbild commented on #47
any update on this?

[2015-05-04 17:57] pcross616 commented on #47
I have not had a second to look at it but I know we want to upgrade internally so I am sure we can get this fixed as part of that.

@ev0ldave ??

[2015-05-20 14:35] tomkregenbild commented on #47
Do you know when you are going to make the internal upgrade?

[2015-07-12 00:11] pcross616 commented on #47
we just release 2.0.7 version of the cookbook that should fix this

[2015-07-12 00:11] #47 closed

[2015-07-23 08:03] nilroy opened #57 "Support for custom configuration"
It would be very useful if there is support for custom configuration option.

[2015-07-23 10:03] nilroy commented on #57
I added few lines for supporting this in framework.properties file. Its now the pull request that I already created a week earlier.

[2015-07-26 17:31] aboutte opened #58 "Release v2.0.7?"
Am I missing something or should there be a v2.0.7 release?  I see version 2.0.7 on the SuperMarket (https://supermarket.chef.io/cookbooks/rundeck) but no version that matches in GitHub.

Master is very close but there are differences (installation of slack plugin, variable data bag name).

[2015-07-27 03:00] pcross616 commented on #58
https://github.com/Webtrends/rundeck/releases/tag/v2.0.7

[2015-07-27 03:00] #58 closed

[2015-11-06 12:04] jennyfountain commented on #57
This would be very helpful. I don't see anywhere to enable clustering.

[2015-11-06 16:43] pcross616 commented on #57
ya thats a good idea, I am sure it wouldn't be hard since the db is already a config options and you could just put it behind a LB.

[2015-11-15 05:57] #32 closed

[2016-01-11 12:40] #57 closed

[2016-01-12 14:00] nilroy opened #70 "I don't want to use apache reverse proxy"
Hi,

Presently the cookbook will install apache2 by default and configure it to be used as reverse proxy. What if I don't want to use apache and use some other stuff instead. I think we could make this configurable like whether to use reverse proxy or not. I can do the changes and create a PR. But before doing that just wanted to share it with you @pcross616

Thanks & Regards
Nilanjan

[2016-01-12 18:41] pcross616 commented on #70
just use 'server_install' recipe if you don't want apache2.  The 'server_dependancy' installs java also optional to use, but rundeck does require java to be installed on the system.

[2016-01-12 18:41] #70 closed

[2016-01-14 09:13] nilroy commented on #70
Ahh great

[2016-02-16 20:56] isuftin opened #75 "Rundeck cookbook does not depend on yum cookbook. Errors occur in test kitchen"
This is being run in Test Kitchen against a CentOS 6.7 guest.

[code]

[2016-02-17 15:59] isuftin commented on #75
https://github.com/Webtrends/rundeck/pull/76

[2016-03-16 18:16] gmr opened #78 "chef-rundeck fails on Ubuntu"
Because of something weird with how the job is setup with runit, it errors when building the XML response.

When i run the command manually with it disabled in runit, it works ok.

[code]

[2016-03-16 18:22] gmr commented on #78
Changing ``/etc/sv/chef-rundeck/run`` to use ``su`` instead of ``chpst`` works:

[code]

[2016-03-16 18:31] gmr commented on #78
Solution for me was to use the upstart switch -- feel free to close, but figured you'd want to be aware of the issue.

[2016-04-05 16:20] ARentz07 opened #82 "Support creation of .aclpolicy files"
## Overview
This cookbook supports configuring different user groups, via adding them to your login configuration (i.e. `jaas-loginmodule.conf`). However, roles added here are practically unusable unless an associated `.aclpolicy` file is added. As a developer who is building out Rundeck using this cookbook, I would like to be able to Chef-ify the process of assigning access control on Rundeck.

#

[2016-04-05 18:10] pcross616 commented on #82
Yes I agree we need LWRP.. I just haven't had a lot of time to finish that branch off.

[2016-04-05 18:11] pcross616 commented on #78
I will look in to this, we run on ubuntu and don't have to do anything special.

What version of Ubuntu are you running?

[2016-04-05 18:33] ARentz07 commented on #82
Ah, thanks for the reply.

It looks like the pieces for creating the access control policies are still not started. Were you needing someone to start on this piece? I could just work off the 2.1 branch I suppose.

[2016-04-05 18:49] pcross616 commented on #82
yes, the 2.1 will have the LWRP, I need to refresh the branch from master.   But that shouldn't be too hard.

Your more than welcome to start working on it. :)

[2016-04-06 15:10] ARentz07 opened #83 "Support encrypted data bag item for LDAP bindpwd"
Do we want to support encryption of the "bindpwd" attribute for LDAP/AD?

[2016-04-07 15:06] ARentz07 commented on #82
Cool. Planning to start on this today.

[2016-04-07 18:54] ARentz07 commented on #82
Curious, how are we normally doing testing for this? When I check it out, install, and run ``kitchen converge``, I run across this:
[code]

I was able to fix this by adding the following to the Berksfile:
[code]

If I run again after that correction, I get this:
[code]

[2016-04-07 18:58] pcross616 commented on #82
i would update the 2.1 branch with the latest from master and merge in the changes.  I think that will fix your issue.

[2016-04-07 23:22] gmr commented on #78
That was on Trusty. I also had an issue with the upstart config not having the same start switches as the runit version. I've been planning on pulling together a PR on this soon -- just need the spare cycles to do so.

[2016-04-11 15:37] ARentz07 commented on #82
So I merged in the changes with master, but of course, when comparing the changes with 2.1, that results in a very ugly diff. 😄 Were you wanting to rebase 2.1 onto master? If not I can do a separate PR for that, though I doubt the tests, etc. will be in a good state without some adjustments. (In my branch, this was the resulting merge commmit: https://github.com/Webtrends/rundeck/commit/57c8a959ce

[2016-04-12 16:29] pcross616 commented on #82
ya i would think we will need to rebase.

[2016-04-19 15:13] ARentz07 commented on #82
OK, were you planning to do this rebase? .. If not, I can push the changes rebased onto master without the new stuff as a 2.1-rebased just so we have something to review.

[2016-06-13 19:01] ARentz07 commented on #82
I've been fighting with this for a couple days now... On the "check-project-localhost" resource of the server_install recipe, I seem to be getting this during `kitchen converge`. However, I've been using this cookbook for some time on "real" servers with no issues, so it must be something with my test setup. Either way, here it is:
[code]
Even after the service has been running for a while, no `rd

[2016-06-13 19:27] ARentz07 commented on #82
Hey @pcross616, I've got a rebased version of the 2.1 branch pushed here: https://github.com/ARentz07/rundeck/tree/2.1_rebased_2

Would we want to merge the changes from it + my changes into master, or perhaps reset 2.1 to my (rebased) branch and then review from that point?

[2016-07-06 23:39] ilovemysillybanana opened #85 "Remote database url support?"
From the rundeck docs [here](http://rundeck.org/2.6.6/administration/setting-up-an-rdb-datasource.html)
We can see that rundeck supports specifying an external db source url as seen in this snippet of code:

[code]

This is how I setup the code:

[code]

When I check the file /etc/rundeck/rundeck-config.properties it looks like most of the settings are there except for one

[code]

I need to have

[2016-07-07 23:18] ilovemysillybanana commented on #85
I found where to change the setting, value is hardcoded for some reason in rundeck-config.properties.erb.

[2016-07-11 14:12] snehitgajjar commented on #82
@pcross616 Same issue as mentioned by @ARentz07 .

[2016-07-27 18:32] ARentz07 commented on #85
Any thoughts on making this a node attribute that we can set?

[2016-07-27 18:36] ARentz07 commented on #82
Hey @all,
My team and I are looking to contribute some things back, and we have made a lot more changes since this issue was opened. We'd like to contribute back but have found that it's difficult to continue to develop and await feedback on this. In other words, our fork has moved along quite a ways. We're thinking, however, of simply creating a new cookbook, as we might be able to design away a

[2016-07-27 19:52] pcross616 commented on #82
don't create a new cook book, contribute.

[2016-07-27 19:55] pcross616 commented on #85
I agree, we should change this to a node attribute.

[2016-07-27 20:23] ARentz07 commented on #82
A lot of the changes we've planned and possibly even some that we have done would warrant a 3.0 release in my mind, since some are non-passive. You think it would be fine for us to work on putting up a 3.x branch in a public repo which we could review? We've pretty much left 2.1 behind.

[2016-07-27 21:54] pcross616 commented on #82
@ARentz07 you should be good to go and able to create the branch.

[2016-07-29 15:10] ARentz07 commented on #82
Cool, thanks a ton. :) There were some requirements we were looking to meet with our changes:
* Support ACL policies ( ✅/❌ , needs refactoring)
* Support security roles ( ✅ )
* Support plugins, LWRP ( ✅ )
* Support external database url/clustering ( ✅/❌ , needs refactoring)
* Encrypt the LDAP bindDN and bindPWD ( ✅ , same as #83 )
* Get kitchen converge working again (thankfully, ✅ )

I'll probabl

[2016-07-29 20:56] ARentz07 commented on #82
Just pushed what my team and I have been working on [here](https://github.com/ARentz07/rundeck/tree/3.x-wip). As far as diffs go it would be quite messy to include in either master or in 2.1.

What I can do is attempt to rebase this and 2.1 changes onto master, then will go from there on pulling into this repo.

[2016-08-01 15:56] ARentz07 commented on #82
I have the initial, rebased stuff pushed to a branch on my remote - 2.1_rebased. [Here's how it differs from master.](https://github.com/Webtrends/rundeck/compare/master...ARentz07:2.1-rebased?expand=1)

I do think I would like to take care of simplifying the acl policies prior to pushing anything. Will post an update on that later on.

[2016-08-03 15:43] ARentz07 commented on #82
FYI, I am canceling the acl policy stuff I mentioned above - I realized it was a bit more business-specific and may not be well-suited to the project for general use. I'll open a pull request to review.

[2016-08-04 21:55] iAnomaly opened #87 "Latest Rundeck Requires Java 7 but Java Cookbook Defaults to 6"
Hi there!

First, thanks for this awesome cookbook!

However, Rundeck install is failing for me because it looks for Java 7 (or 8) but your use of the Java cookbook is installing Java 6 by default. For now I have added `default[:java][:jdk_version] = '7'` to my downstream cookbook, but you should consider adding `default[:java][:jdk_version] = '7'` to your attributes file.

Thanks,
Cameron

[2016-08-11 18:19] ARentz07 commented on #87
@iAnomaly 💡 For future reference, feel free to open a pull request with these types of minor updates.

#88 should fix this. Please review.

[2016-08-11 18:56] #87 closed

[2016-08-15 18:04] ARentz07 commented on #82
https://github.com/Webtrends/rundeck/issues/86 is now merged, which puts this functionality into a staging branch for 3.0-related changes. @pcross616 , I think I'll go ahead and open a pull to get 3.x into master so we don't have pull requests, etc. which cause us to diverge from it.
It's not going to be a clean merge thanks to the recent JDK version change, but I think that's something we can add

[2016-08-15 18:10] pcross616 commented on #82
I agree, create a PR from the rebase and I will review the PR to merge to master.

[2016-08-31 14:09] ARentz07 commented on #83
This was fixed in https://github.com/Webtrends/rundeck/commit/c056abcda27e89eca80b78e6f604add89ac4aebc

[2016-08-31 14:09] #83 closed

[2016-09-01 18:31] ARentz07 commented on #85
I'm pretty sure this is already supported by node attributes we expose: https://github.com/Webtrends/rundeck/blob/master/attributes/default.rb#L95-103

[2016-09-01 18:31] ARentz07 commented on #82
Moved to the 3.0.0 milestone

[2016-09-01 18:33] ARentz07 commented on #23
This is solved by #91

[2016-09-01 18:34] ARentz07 commented on #27
This is solved by #91

[2016-09-01 18:34] ARentz07 commented on #82
Got this and the other changes mentioned merged in #91

[2016-09-01 18:34] #82 closed

[2016-09-01 18:35] ARentz07 commented on #23
Going to go ahead and close this out since it's merged to master.

[2016-09-01 18:35] #23 closed

[2016-09-01 18:35] ARentz07 commented on #27
Going to go ahead and close since this change is merged to master.

[2016-09-01 18:35] #27 closed

[2016-09-01 19:15] ARentz07 opened #92 "Support data bag for RDBMS"
In order to support encryption of DB user name and password, we should support using a data bag to store this config.

[2016-09-01 19:26] ARentz07 opened #93 "Fix SSL so that CLI works properly, configure offloading SSL to proxy"
When you use the CLI is redirects to the grails url, which then has the server show up to Apache as it's IP address instead of 127.0.0.1. We should update the RewriteCond to match our own IP address to allow the CLI to access itself without SSL and the rest of the requests get redirected. Make this optional and controlled through the node `['rundeck']['allow_local_https']` attribute, which default

[2016-09-01 19:26] ARentz07 commented on #93
Note, this is a change my team has already staged and would like to contribute.

[2016-09-01 19:29] ARentz07 opened #94 "Update project checking condition so that it is more reliable"
Currently we are checking for the existence of the project's configuration file. This will not work for cases in which projects are stored in a remote database, so we should use the command line tool (`rd-projects`) to check for a project's existence.

Code reference: https://github.com/Webtrends/rundeck/blob/master/recipes/server_install.rb#L257

[2016-09-01 19:32] ARentz07 opened #95 "Create proper kitchen test suites for cookbook"
We should test for some of the major conditions of state we want to assert when converging the cookbook. Currently we're just testing if it's successful, but we should be doing more fine-grained assertions.

[2016-09-01 19:32] ARentz07 commented on #95
Note that my team has already staged a code change for this and would like to contribute.

[2016-09-01 19:33] ARentz07 commented on #94
Note that my team has already staged a code change for this and would like to contribute.

[2016-09-01 19:33] ARentz07 commented on #92
Note that my team has already staged a code change for this and would like to contribute.

[2016-09-02 18:11] pcross616 commented on #92
Go for it..

[2016-09-06 15:48] ARentz07 commented on #92
I've opened a (rather large) PR to fix this along with the other issues recently logged: https://github.com/Webtrends/rundeck/pull/96

Would this be something we'd be able to review or should it be broken out separately?

[2016-09-13 18:00] ARentz07 opened #97 "Support landing entries in key storage"
# Overview

In order to aid consumers in setting up Rundeck and disaster recovery scenarios, we should support adding key storage entries through the chef-client run.
# Design Considerations

Key storage may be in a remote database or on the local filesystem. Thus, we should be attempting to leverage the abstractions Rundeck has in place to interact with keys - the [CLI](https://github.com/rundeck

[2016-10-03 20:51] #92 closed

[2016-10-03 20:57] ARentz07 commented on #95
Fixed in #96

[2016-10-03 20:57] #95 closed

[2016-10-03 20:57] ARentz07 commented on #94
Fixed in #96

[2016-10-03 20:57] #94 closed

[2016-10-03 20:58] ARentz07 commented on #93
Fixed in #96

[2016-10-03 20:58] #93 closed

[2016-10-05 19:08] ARentz07 commented on #37
@damacus Sounds like we fixed this via #38, so this should be closed out.

[2016-10-05 19:08] #37 closed

[2016-10-06 16:44] ARentz07 opened #98 "If rdbms data bag not present, cookbook errors out"
When using node attributes for rdbms, the cookbook fails out saying "404 not found" as it is trying to load a data bag which does not exist. We should still use the node attributes if the data bag doesn't exist.

[2016-10-13 14:26] bernardoVale opened #99 "Is ACLPolicies data bag really required?"
Hi, I'm trying to use this cookbook to deploy a rundeck environment. I just want A default ACL policy but it seems the code it's expecting me to configure at least one policy using the data bag.

There is no example in the documentation. Could someone help me with that? An example or a way to run the code without having to configure this?

[2016-10-17 15:02] ARentz07 commented on #99
I'll test this out. Seems like the intention was for this to be not required, but there could be a bug or false assumption we're making in the code.

[2016-10-26 07:40] yorchtf opened #100 "chef-rundeck doesn't working - check_version_conflict"
When I execute the command in my ktichen machine:

`# /opt/chef/embedded/bin/ruby /opt/chef/embedded/bin/chef-rundeck -c /etc/chef/rundeck.rb -f /etc/chef/chef-rundeck.json -w https://chefserver.system73.com/organizations/system73 -o 0.0.0.0 -p 9980 -t 10`

**/opt/chef/embedded/lib/ruby/site_ruby/2.3.0/rubygems/specification.rb:2278:in `check_version_conflict': can't activate rack-2.0.1, already a

[2016-10-28 07:35] yorchtf commented on #100
solved
https://github.com/sinatra/sinatra/issues/1055

[2016-11-07 21:26] atheiman opened #101 "SCM configuration"
Add the ability to set configuration for the SCM Git plugin http://rundeck.org/docs/plugins-user-guide/bundled-plugins.html#git-plugin

[2016-11-08 21:17] ARentz07 commented on #101
👍 this is definitely something that would be useful, at least for our use case. Might also help with the issues around [clustering not quite supporting plugin config](https://github.com/rundeck/rundeck/issues/1622).

[2016-11-08 23:56] pcross616 commented on #101
I agree.  Right now we have a job that dumps all and pushes to GitHub this, would be nice.

[2016-11-10 21:25] ARentz07 opened #102 "better-chef-rundeck support"
We should consider support for integrating with [better-chef-rundeck](https://github.com/atheiman/better-chef-rundeck/) instead of chef-rundeck, if desired.

FYI @atheiman

[2016-11-14 17:05] #100 closed

[2016-11-15 10:47] nilroy opened #104 "Rundeck 2.6.10 is not starting"
The latest version of rundeck does not start because of the web.xml file that has been used in this cookbook. Anyone working on it?

[2016-11-16 10:17] nilroy commented on #104
This PR https://github.com/Webtrends/rundeck/pull/105 fixes it

[2016-11-16 10:17] nilroy commented on #99
This PR https://github.com/Webtrends/rundeck/pull/105 makes the aclpolicies as an optional stuff

[2016-11-16 10:22] nilroy commented on #104
@pcross616 kindly review

[2016-11-16 17:27] pcross616 commented on #104
looks like we are missing the correct attributes.. https://github.com/nilroy/rundeck/blob/f62dbfa1f588ceca8661bec2c5c8ee135c0fc158/attributes/default.rb#L7-L11

[2016-11-17 18:06] #99 closed

[2016-11-17 18:06] #104 closed

[2016-12-07 21:06] bpcook61 opened #106 "yum install broke in version 3.0.1 of cookbook"
In the fix to correct an issue with the web.xml file that changed in Rundeck 2.6.10, the default attribute for ['rundeck']['rpm']['version'] was changed to include "rundeck-" in a non-passive manner.  This breaks the yum package resource in recipe::server_install that uses that same attribute for the version to install.

[2016-12-07 21:32] bpcook61 commented on #106
https://github.com/Webtrends/rundeck/pull/107 should correct this.

[2016-12-07 21:57] bpcook61 commented on #106
https://github.com/Webtrends/rundeck/pull/108

[2016-12-07 22:05] atheiman opened #110 "travis kitchen tests"
https://github.com/zuazo/kitchen-in-travis

[2016-12-07 22:07] pcross616 commented on #110
+1

[2016-12-08 18:31] atheiman opened #112 "chefspec tests"
lets aim for 100% coverage.

[2016-12-09 16:12] atheiman opened #113 "move duplicated databag code to library"
this code is duplicated everywhere, it would be nice to move it out to a method provided by a module in a library.

[code]

[2016-12-12 04:10] atheiman opened #115 "Configure Rundeck via API rather than CLI"
Using a local rundeck user with api permission should be an improvement over using the CLI.

http://rundeck.org/docs/api/#password-authentication

[2016-12-12 04:31] atheiman commented on #115
If we can find (or create) a rundeck api ruby client gem, recent versions of Chef have a metadata.rb method `gem` to allow installing gems via chef_gem before cookbooks are compiled so that gems may be required into `libraries/`.

[2016-12-12 04:36] atheiman commented on #115
https://github.com/rest-client/rest-client Supports cookies pretty well from what I know, this should be doable to create a rest client for Rundeck with that gem.

[2016-12-12 16:43] atheiman opened #116 "Rundeck / rundeckd service restart"
only supports Ubuntu Upstart right now, so you cannot restart on config change on centos.

[2016-12-13 11:45] nilroy opened #117 "Support for rundeck 2.7.x"
@pcross616 The current version of cookbook will not support rundeck 2.7.1. Is anyone working on that already? If not I shall create a PR for this

[2016-12-13 11:46] nilroy commented on #117
Sorry I closed that accidentally.. So reopening

[2016-12-16 17:02] edwlarkey opened #118 "Default rdbms enabled set to string value 'false'"
By default, `['rundeck']['rdbms']['enable']` is set to the string value of `'false'`, which is `true` [1].

In the configuration template, to enable rdbms it is checking for the string value of `'true'` [2], and to disable rdbms it is checking for the boolean value of `false` [3]. So, this portion never gets written to the config file. The default rundeck dataSource [4] is used, which is why this

[2016-12-19 18:58] edwlarkey opened #119 "exec_logdir doesn't get created"
If you change set the location of `['rundeck']['exec_logdir']`, the directory will not be created if it doesn't exist.

[2016-12-21 19:59] #110 closed

[2017-01-11 22:01] atheiman commented on #97
i just came across this in an old cookbook that we dont use anymore but could maybe integrate this code into this cookbook

[code]

[2017-01-11 22:05] atheiman opened #124 "update projects from data bag items"
currently the cookbook will only create new projects from data bags, but wont update existing project config via chef-client. add support for updating config of existing projects via chef-client.

this probably would be covered by a project lwrp #24

[2017-01-19 23:17] atheiman opened #125 "allow specifying framework.ssh.user"
[code]

https://github.com/Webtrends/rundeck/blob/master/templates/default/framework.properties.erb#L205

[2017-01-19 23:45] #125 closed

[2017-01-19 23:45] #119 closed

[2017-01-20 14:50] atheiman opened #127 "template config files from attributes"
the .properties config files  (and any other) can be entirely generated from ruby attribute hashes using something similar to this https://gist.github.com/atheiman/7b334570b6bf0b47a2bbadface0894c9

meaning these attrs
[code]

would create this `framework.properties` file
[code]

- this will get all the logic out of the templates
- a prerequisite to this is to have spec tests validating the generat

[2017-01-23 13:11] tomkregenbild commented on #117
+1

[2017-01-24 20:27] edwlarkey commented on #118
This was fixed in #130

[2017-01-24 20:27] #118 closed

[2017-01-25 05:04] atheiman commented on #127
knife.rb can easily be generated from attrs as well:

[code]

[code]

[2017-01-25 19:22] atheiman commented on #127
when i get around to doing it... file content can be spec'd against a fixture with something simple like this added to `/spec/support/`

[code]

[2017-01-26 17:18] atheiman opened #134 "web xml rundeck version logic"
https://github.com/Webtrends/rundeck/commit/bf808ce99a1343ec5b2ca86d9bd98804a70bbaad prevents rundeck 2.7.0

[2017-01-29 00:22] atheiman opened #136 "Project creation does not happen on first chef-client"
**tl;dr: Turns out rundeck isnt running yet when projects are trying to be created. The project creation logic needs to be moved out of rundeck::server and into a new recipe after rundeck::apache is run.**

Projects are currently not created on the first chef-client run (in test-kitchen at least, Im not sure about with a real node). ~~I think there is an issue with apache or rundeckd restarting to

[2017-01-29 00:39] atheiman commented on #136
I've added the following into the server_install recipe just before the project create command would be run:

[code]

And the first chef-client results in

[code]

Running chef-client minutes later resulted in the same. Turns out rundeck isnt running yet when projects are trying to be created. this project logic needs to be moved out of rundeck::server and into a new recipe after rundeck::apache i

[2017-01-30 03:13] atheiman commented on #134
I think this can be solved by reading the version into rubygems version parsing

https://ruby-doc.org/stdlib-2.1.0/libdoc/rubygems/rdoc/Gem/Requirement.html

[2017-01-30 11:53] nilroy commented on #117
I started working on this. So closing the issue

[2017-01-30 11:53] #117 closed

[2017-01-31 15:43] nkadel-skyhook commented on #26
Please do not *discard* the standard configuration of a basic rundeck server in the process of activating an LWRP. Doing so has become common practice with many shifts of existing cookbooks to an LWRP, and it's proven problematic when the working cookbook loses critical features. This happened particularly with the "mysql" and the refactoring of the "yum" cookbook.

[2017-02-08 21:46] tryan225 opened #143 "Rundeck service start & restart should wait for HTTP calls to succeed"
[code]

[2017-02-08 21:51] atheiman commented on #143
problem here is the init script doesnt actually check to ensure rundeck has restarted https://github.com/rundeck/rundeck/blob/master/packaging/root/etc/rc.d/init.d/rundeckd

need to log an issue to that repo to add that to the init script

i think we could do a workaround in this cookbook with something like

[code]

[2017-02-08 23:08] atheiman commented on #143
another option here for a workaround is something like

[code]
http://ruby-doc.org/stdlib-2.3.3/libdoc/timeout/rdoc/Timeout.html#method-c-timeout
https://ruby-doc.org/stdlib-2.3.3/libdoc/socket/rdoc/TCPSocket.html#method-c-new

[2017-02-10 01:35] atheiman opened #144 "Requesting write access to this repository"
@pcross616 could I be granted write permissions to this repository? Im fortunate enough that my employer is allowing me time to work on this cookbook because bug fixes and enhancements to this cookbook will benefit our team. However, if pull requests are sitting for an extended time it slows us down - and we're trying very quickly to setup Rundeck in all of our environments.

I feel like my contri

[2017-02-15 15:59] atheiman opened #145 "Rundeck app user does not need sudo permissions"
Seems like the rundeck user does not need sudo permissions, but it is given permission to run all commands with sudo no password.

https://github.com/Webtrends/rundeck/blob/8a806f4024ff13662ac38a26330f3fe9afddb47b/recipes/node_unix.rb#L61-L64

[2017-02-17 00:26] atheiman commented on #144
@joshgillingham @BrotherNumsy could either of you help me gain write access to this repository?

[2017-02-17 02:16] pcross616 commented on #144
Done, thx for your support with this cookbook.

[2017-02-17 02:16] #144 closed

[2017-02-17 02:17] atheiman commented on #144
excellent, thank you!

[2017-02-28 21:47] atheiman opened #146 "requesting permissions to push tags to supermarket"
@pcross616 @jmickle @ev0ldave - I see you have pushed tags to https://supermarket.chef.io/cookbooks/rundeck in the past. Since Ive received permissions to write to this github repository, I was hoping I could also have permissions to push tags to https://supermarket.chef.io/cookbooks/rundeck?

Here is my supermarket user profile https://supermarket.chef.io/users/atheiman

It should be as simple as

[2017-02-28 22:36] pcross616 commented on #146
Yup I added you.

From: Austin Heiman <notifications@github.com>
Reply-To: Webtrends/rundeck <reply@reply.github.com>
Date: Tuesday, February 28, 2017 at 1:47 PM
To: Webtrends/rundeck <rundeck@noreply.github.com>
Cc: Peter Crossley <peterc@xley.com>, Mention <mention@noreply.github.com>
Subject: [Webtrends/rundeck] requesting permissions to push tags to supermarket (#146)

@pcross616<https://githu

[2017-02-28 22:37] atheiman commented on #146
thanks

[2017-02-28 22:37] #146 closed

[2017-03-06 15:37] #124 closed

[2017-03-06 15:37] #136 closed

[2017-03-10 00:49] atheiman commented on #143
This was fixed in #133

[2017-03-10 00:49] #143 closed

[2017-03-10 00:50] atheiman commented on #115
This was done in 4.0.0 release

[2017-03-10 00:50] #115 closed

[2017-03-10 00:51] atheiman commented on #113
This has been completed, i stored the daymta bag items in node.run_state

[2017-03-10 00:51] #113 closed

[2017-03-10 00:57] atheiman commented on #85
It looks like this is hardcoded here https://github.com/Webtrends/rundeck/blob/v4.0.3/templates/default/rundeck-config.properties.erb#L12

This could be fixed with #127 tho

[2017-03-10 21:08] #106 closed

[2017-03-23 08:11] nilroy commented on #134
@atheiman https://github.com/Webtrends/rundeck/pull/153 contains the implementation you mentioned

[2017-04-07 07:27] nilroy opened #156 "Write access to this repo"
@pcross616 We are using rundeck in our environment. I have been creating PRs to this repo from the last couple of years. I think I could be a good contributor to this repo by creating PRs, doing reviews etc., and I can assure that I would not do any changes without peer review. Sometimes long review time is slowing us down heavily. I would appreciate if you could allow me doing more for this repo.

[2017-04-07 07:29] nilroy opened #157 "Travis build is broken"
The Travis build is broken for quite some time now. The current master also does not pass the tests. Especially its the centOS. I have tried multiple things but it never worked. The tests are passing if I use my local machine (Mac OSX) by running ./.travish.sh script.

[2017-04-07 14:10] edwlarkey commented on #157
It looks like master built just fine the last time it was ran.
https://travis-ci.org/Webtrends/rundeck/branches

Is there a more recent test of master on travis that you could link to?

[2017-04-07 15:25] pcross616 commented on #156
Let me see what I can do

From: Nilanjan Roy <notifications@github.com>
Reply-To: Webtrends/rundeck <reply@reply.github.com>
Date: Friday, April 7, 2017 at 12:27 AM
To: Webtrends/rundeck <rundeck@noreply.github.com>
Cc: Peter Crossley <peterc@xley.com>, Mention <mention@noreply.github.com>
Subject: [Webtrends/rundeck] Write access to this repo (#156)

@pcross616<https://github.com/pcross616> We ar

[2017-04-07 15:53] edwlarkey commented on #157
I think I found the one you are referring to here https://travis-ci.org/Webtrends/rundeck/builds/215537188

Test from first commit to this PR https://github.com/Webtrends/rundeck/pull/155

[2017-04-07 18:00] nilroy commented on #157
@edwlarkey The builds were running fine. But last week it just broke without any change that could affect it. If we run the build locally its passing. I ran the .travis.sh locally and the builds passes.

[2017-04-07 18:02] nilroy commented on #156
@pcross616 Thanks a lot for letting me in.

[2017-04-07 18:02] #156 closed

[2017-04-07 19:53] pcross616 commented on #145
If the rundeck user does not have sudo commands in the RD job cannot execute functions like restarting a service or other privileged commands.  Which is very common when a user only has limited access to job execution.

[2017-04-07 20:52] atheiman commented on #145
Im not sure why rundeck jobs need to restart services on the rundeck node, but if this is a requirement for consumers I think they should add sudo permissions as needed with something like the `sudo` cookbook: https://github.com/chef-cookbooks/sudo

I think the permission model should be giving `rundeck` user as little as it could need, and consumers of this cookbook can give the user more permiss

[2017-04-08 17:15] nilroy commented on #145
If you absolutely don't want rundeck sudo then control using an attribute like node['rundeck']['user']['allow_sudo'] . Keep the default attribute to true.

[2017-04-14 21:52] nilroy commented on #156
@pcross616 I have been revoked of the write access for this repo. What happened? Did I do something wrong?

[2017-04-14 22:54] pcross616 commented on #156
The all the GH repos are currently transitioning to Oracle and have been put in RO mode for the time being.  (Oracle has bought Webtrends Infinity see https://www.oracle.com/corporate/acquisitions/infinity/index.html) and Oracle is now going to be sponsoring the cookbooks and services hosted at Webtrends GH org.

I will let you know when the transfer is done (I am working on it right now)

Pete

O

[2017-04-17 14:11] atheiman commented on #156
could we move this cookbook to github.com/rundeck/rundeck-cookbook? I think that would be a better location for this repo, and it would get more attention from Rundeck developers.

[2017-04-17 14:12] atheiman commented on #156
@gschueler would you be open to this? ⬆️

[2017-04-19 00:31] gschueler commented on #156
Hi @atheiman not at this time. I think it would be better left as a community project managed by people who use it.

[2017-04-20 06:02] MoradT commented on #101
+1

[2017-07-19 15:57] bpcook61 opened #168 "Apache2 5.0 cookbook breaks Centos 6"
### Cookbook version
4.0.5
### Chef-client version

12.20.3

### Platform Details
Redhat 6.9

### Scenario:
Latest release of Apache2 cookbook removes support for Apache 2.2.  RHEL 6 platforms don't have Apache 2.4 RPMs available in repositories.

### Steps to Reproduce:
Ran chef-client and httpd service won't restart.

### Expected Result:
Rundeck is unavailable through the Apache proxy.

### Act

[2017-07-20 07:40] voodoodror opened #169 "Cookbook won't connect to the rundeck server due to outdated web.xml"
### Cookbook version
3.2.1

### Chef-client version
12.17.44

### Rundeck version
rundeck-2.8.4-1.33.GA

### Platform Details
macOS Sierra 10.12.5 /w Vagrant Driver

### Scenario:
Installing rundeck cookbook.

### Steps to Reproduce:
Just run the cookbook OOTB /w the Rundeck version above.

### Expected Result:
The cookbook should proceed to the next steps after having successful connection to the

[2017-07-24 13:38] bpcook61 commented on #169
I believe https://github.com/sous-chefs/rundeck/pull/164 will address this issue.

[2017-07-26 10:01] trivoallan opened #170 "4.0.x is not compatible with Chef 13"
### Cookbook version
4.0.5

### Chef-client version
13.2.20

### Platform Details
Debian 8.8

### Scenario:
Using test-kitchen with `require_chef_omnibus: 13`, when trying to converge the rundeck::server i get the following error :

[code]

The error those not happen with `require_chef_omnibus: 12`

[2017-07-26 18:36] acqant commented on #98
+1 ( rather not use data bags )

[2017-08-01 15:43] gsreynolds opened #171 "Repo size is 172MB"
Rundeck repo is 172MB with ~9500 commits. I'm guessing it's the history from prior to the split from the monolithic cookbook repo and/or the binary files.

[code]

Related: #38, #37
@damacus

[2017-08-01 18:21] atheiman opened #172 "can we get 4.1.0 released"
https://supermarket.chef.io/cookbooks/rundeck

[2017-08-01 18:54] ev0ldave commented on #172
👍

[2017-08-01 18:54] #172 closed

[2017-08-01 18:58] ev0ldave opened #173 "Deprecate chef-rundeck"
@atheiman
Deprecate chef-rundeck as the project has gone stale and a better constructed project has evolved since then that is more flexible.
Possibly include support for better-chef-rundeck?  Would like to discuss moving this into it's own cookbook.

[2017-08-01 19:03] #24 closed

[2017-08-01 19:15] atheiman commented on #173
i dont think that needs to be its own cookbook. at my office we run [better-chef-rundeck](https://github.com/atheiman/better-chef-rundeck) using [simple-passenger-cookbook](https://github.com/atheiman/simple-passenger-cookbook). all that is needed is to set a few attrs and `include_recipe 'simple_passenger::default'`

[code]

[2017-08-01 19:25] atheiman commented on #172
lol why was this closed with a 👍 ? i dont see it in supermarket yet.

do the magical sous-chefs have an established way of deploying to supermarket via travis?

[2017-08-01 19:44] ev0ldave commented on #172
Trigger happy, pcrossley is uploading the cookbook and transferring supermarket control from webtrends to sous-chefs

[2017-08-01 19:56] atheiman commented on #172
ok, if i get access back to this repo id be happy to help out too

[2017-08-01 19:59] ev0ldave commented on #172
http://sous-chefs.org/becoming-a-member/

On Tue, Aug 1, 2017 at 12:57 PM, Austin Heiman <notifications@github.com>
wrote:

[2017-08-01 20:14] damacus commented on #172
Hey @atheiman,

Also http://community-slack.chef.io/ #sous-chefs for where the community usually hangs out.

[2017-08-01 20:21] gsreynolds commented on #173
(Related: #140, #102)

[2017-08-01 20:24] ev0ldave commented on #157
builds are green!

[2017-08-01 20:24] #157 closed

[2017-08-01 20:42] bpcook61 commented on #168
Looks like we're just removing Centos/Redhat 6 support in the latest version.  We just pinned Apache2 at 4.0.0 until we upgrade to Redhat 7. 😞

[2017-08-01 20:42] #168 closed

[2017-08-01 20:58] ev0ldave commented on #171
we can run BFG again and pull out the winrm jar that is included in the files section.

[2017-08-02 00:37] ev0ldave commented on #171
Binaries removed and cookbook_file calls replaced with remote_file.  Repo size is down to 25M.

[2017-08-02 00:37] #171 closed

[2017-08-02 00:45] ev0ldave commented on #170
This issue is resolved in commit 3badf8a and is being released with 4.1.0.... getting that out ASAP

[2017-08-02 00:57] ev0ldave commented on #169
@voodoodror can you test this with cookbook 4.1.0?

[2017-08-17 20:31] acqant commented on #169
I'm suspecting the same, will test soon.

[2017-08-26 13:26] #75 closed

[2017-08-26 18:59] gsreynolds commented on #116
Hi @atheiman, I believe this is fixed already so I'm going to close this issue. Tested on centos & ubuntu with `node['rundeck']['restart_on_config_change'] = true` and making a chance in a second converge, the cookbook behaves as expected.

[2017-08-26 18:59] #116 closed

[2017-08-26 19:02] gsreynolds commented on #134
Closing this issue as was resolved in #153 and there is now conditional logic on rundeck version in the relevant templates

[2017-08-26 19:02] #134 closed

[2017-08-26 19:05] gsreynolds commented on #170
The cookbook is now Chef 13 compatible and being tested using latest 13.x, so I'll close this issue.

[2017-08-26 19:05] #170 closed

[2017-08-29 19:33] acqant commented on #169
nah, #164 didn't fix it.
Replaced web.xml with stock file from bpkg and rundeck starts up

[2017-08-29 20:31] bpcook61 commented on #169
Maintaining the web.xml as a Chef template is a real pain since they keep changing the packaged web.xml.

[2017-08-29 20:58] gsreynolds commented on #169
Have installed and am running 2.9.x using master with the version attribute changes in #178 in production, plus local tests/local CI and [Travis for that PR](https://travis-ci.org/sous-chefs/rundeck/builds/268568532), not come across Rundeck failing to start? Might be something else at play here?

Is it only 2.9.x you are seeing the issue with as you seem to suggest in #164?

[2017-08-30 14:50] acqant commented on #169
I was going to try master but I thought 4.1.1 had the fix we needed....brb...

[2017-08-30 15:09] gsreynolds commented on #169
Well 4.1.1 == master just now, so it should 😄

[2017-08-30 15:45] acqant commented on #169
@gsreynolds Huh?  Version 4.1.1 was done 28 days ago do someone just merge and push something???

Should I point metadata at master or leave it at 4.1.1 ( latest ) and try again?

[2017-08-30 16:02] gsreynolds commented on #169
Sorry, I meant, the current version 4.1.1 and the master branch are [equivalent currently](https://github.com/sous-chefs/rundeck/commits/master) so either should work.

My experience in my is that #164 did fix it and I'm running 4.1.1/master with the version attributes overridden in a role to the values in #178 to install 2.9.3 and everything works as expected - I've not come across rundeck failin

[2017-08-30 18:48] acqant commented on #169
Using the debian package the rundeck_version ends up getting passed to the web.xml template as 1 and not 2.9.3

* log[2.9.3, 1, GA.deb] action write[2017-08-30T18:46:16+00:00] INFO: Processing log[2.9.3, 1, GA.deb] action write (cb-rundeck::default line 22)
       [2017-08-30T18:46:16+00:00] INFO: ["2.9.3", "1", "GA.deb"]

         * log[1] action write[2017-08-30T18:46:16+00:00] INFO: Processing

[2017-08-30 18:51] acqant commented on #169
ahhh, our bad, someone set didn't use the full name 'rundeck-2.x.z-GA'

I'm on my way to getting this to work! Thanks.

[2017-08-31 19:59] acqant commented on #169
So close, now after login I get an extra hostname in the redirect
* ruby_block[connect rundeck api client] action run[2017-08-31T19:40:32+00:00] WARN: 404       POST    http://alphac-bvlt-r1nrdeck/alphac-bvlt-r1nrdeck/menu/home BODY:

Not sure if it's rundeck server config, or cookbook setting... any ideas anyone?

[2017-09-01 16:37] gsreynolds commented on #169
https://github.com/sous-chefs/rundeck/blob/01b5e6dba759baaf8e519ff746b05984c8b63608/recipes/_connect_rundeck_api_client.rb#L15

Check your values of `node['rundeck']['grails_server_url']` and `node['rundeck']['webcontext']`. At a guess I'd suggest webcontext has been changed from the default of `/`

[2017-09-05 07:30] nilroy opened #180 "Write access to this repo"
Hi,

I would like to be a contributor to this repo. Could any one of the maintainers grant me access?

@pcross616 @ev0ldave

Thanks & Regards
Nilanjan

[2017-09-05 17:15] ev0ldave commented on #180
@nilroy we handed off management of this cookbook to sous-chefs because we could not give it the time that was needed to keep this up to date.  If you would like to become a maintainer please join sous-chefs and add yourself.
http://sous-chefs.org/becoming-a-member/

[2017-09-06 15:34] gsreynolds opened #181 "rundeck_api_client library LoadError in dokken testing with ChefDK > 2.0.28"
With the stable ChefDK 2.1.11, any kitchen-dokken test and so Travis build fails with the below.

[code]

Relevant spec_helper code:
https://github.com/sous-chefs/rundeck/blob/b91dddd452fcdbb318763998349d2dff718de1c4/test/integration/default/serverspec/spec_helper.rb#L7-L14

It seems that the kitchen_sandbox directory /opt/kitchen is now not available during the verify phase, which we need for loa

[2017-09-06 15:36] gsreynolds commented on #181
We can:

1. start a conversation upstream in kitchen-dokken about the issue
2. pin to ChefDK 2.0.28 for now
3. avoid loading cookbook libraries into test-kitchen entirely

or some combination of the above

[2017-09-06 19:55] gsreynolds commented on #181
Related: #179 is an example, first commit was fully green and was tested under ChefDK 2.0.28, a further commit tested with ChefDK 2.1.11 with ChefSpec only changes turned integration tests red whilst UNIT_AND_LINT stayed green. (PR has since been rebased)

[2017-09-07 13:48] nilroy opened #182 "New version of the cookbook"
Now we have the rundeck version 2.9.x support merged to master (https://github.com/sous-chefs/rundeck/pull/178) can we have the new version of the cookbook out?

[2017-09-07 16:23] ev0ldave commented on #182
4.2.0 released

[2017-09-07 16:23] #182 closed

[2017-09-07 16:30] mengesb commented on #181
I see ChefDK 2.2.1 now; would this be resolved with that version?

[2017-09-07 16:39] gsreynolds commented on #181
2.1.11 shipped a change in behaviour where the test-kitchen sandbox is deleted after converges, (but also introduced a bug with that behaviour that broke the mount of the sandbox)

2.2.1 ships a bug fix as noted above but the issue here is the new behaviour. We can't load the cookbook library into test-kitchen because the contents of the sandbox are deleted after converge. (sorry for confusing thi

[2017-09-07 22:40] ev0ldave opened #183 "Need option to supply secrets from more than just data bags."
### Scenario:
Need to be able to supply credentials from any source, not just data bags.  We are leveraging hashicorp vault in this case

### Fix:
Make all data bags optional that contain secrets so a wrapper may load content into the run state.

[2017-09-08 07:28] nilroy commented on #182
@ev0ldave thanks a lot 👍

[2017-09-13 22:39] #183 closed

[2017-10-05 13:59] jwilf opened #184 "403 in RundeckApiClient with SSL when grails.serverURL is http"
### Cookbook version
4.2.0

### Chef-client version
Chef: 12.21.14

### Platform Details
CentOS release 6.9 (Final) on AWS

### Scenario:
Trying to configure rundeck with SSL handled by Apache2

### Steps to Reproduce:
default['rundeck']['use_inbuilt_ssl'] = false
default['rundeck']['use_ssl'] = true

Execute chef-client

### Expected Result:
chef-client completes and configures Rundeck, including

[2017-10-05 15:53] jwilf commented on #78
Same problem for me on CentOS 6. Forcing use of upstart instead of runit fixed it.

[2017-11-24 12:41] gsreynolds commented on #173
Quick brain dump/Note to self & others, for Chef 13 and for compatibility with how `chef-rundeck` translated chef node data to rundeck source config:

Until https://github.com/atheiman/better-chef-rundeck/pull/31 is merged, use ev0ldave branch chef13.
[code]

By default `better-chef-rundeck` behaves differently to `chef-rundeck` in the attributes it returns, doesn't set hostname and nor a default

[2018-03-03 07:56] sgoogal opened #185 "3.0.0 to 4.2.0"
Hello All,

We are using the older version(3.0.0) of this cookbook and created a wrapper, now we want to use the latest version 4.2.0, what are the things we need to consider before using the newer version?

[2018-06-01 13:46] nonai opened #186 "RDECK_SSL_OPTS issue"
### Cookbook version
4.2.0

### Chef-client version
12.9.41

### Platform Details
Ubuntu 16.04

### Scenario:
Use keystore for LDAP authentication.

### Steps to Reproduce:
use_inbuilt_ssl -> True

### Expected Result:
Rundeck process should start with the keystore, so that LDAP can fetch the cert details.

### Actual Result:
Rundeck process NOT started with the keystore.

### More info:
In profil

[2018-08-26 08:02] nilroy opened #189 "Rundeck 3.x support"
When are we going to see rundeck 3.x support? The rundeck 3.x binaries has a different naming convention which is not backwards compatible.

[2018-08-26 16:17] damacus commented on #189
Hi there!

We would happily accept a pull request to resolve this issue. If you need help or guidance on submitting, please don't hesitate to ask!

If you need help, or just wish to talk through issue please [join the Chef Community Slack](http://community-slack.chef.io/) and look for the #sous-chefs channel.

Thanks,
Sous-Chefs

[2018-08-27 21:25] josephholsten opened #190 "Broken build"
Failing build: https://travis-ci.org/sous-chefs/rundeck/jobs/421278908

Build failure message:
[code]

Hopefully this may be low hanging fruit!

[2018-09-10 06:34] ev0ldave commented on #189
I'm installing 3.x currently and getting the proper profile, rundeck-config, and jaas configuration changes up to date.  I will have a PR for these changes in the next day or two.  We are also planning a major rewrite to simplify this cookbook if you'd like to throw into the ring on it.

[2018-10-08 11:47] nilroy commented on #189
@josephholsten Sorry I will not be able to create a PR at this moment. But if @ev0ldave is already working on this I would be more than happy

[2018-11-11 14:33] PowerSchill commented on #173
Are you still using this solution? When using `simple_passenger` I encounter https://github.com/atheiman/simple-passenger-cookbook/issues/31

[2018-11-22 00:13] PowerSchill commented on #180
Closing this issue as instructions for contributing were presented.

[2018-11-22 00:13] #180 closed

[2018-11-22 13:07] PowerSchill commented on #25
Closing issue. If still valid please reopen with more information.

[2018-11-22 13:07] #25 closed

[2018-11-22 13:07] PowerSchill commented on #26
Closing issue. If still valid please reopen with more information.

[2018-11-22 13:07] #26 closed

[2018-11-22 13:19] #185 closed

[2018-11-26 21:11] #78 closed

[2018-11-26 21:11] #85 closed

[2018-11-26 21:11] #98 closed

[2018-11-26 21:11] #145 closed

[2018-11-26 21:11] #169 closed

[2018-11-26 21:11] #181 closed

[2018-11-26 21:11] #189 closed

[2018-11-26 21:11] #190 closed

[2018-11-27 22:24] PowerSchill commented on #186
@nonai This looks to be handled with the current codebase. Can you take a look at it and let us know if this is still something we need to work on?

[2019-02-04 18:19] mengesb opened #201 "Tokens file attribute not working"
### Cookbook version
5.0.0

### Chef-client version
14.2.0

### Platform Details
RHEL 7.x

### Scenario:
Generate the api tokens file

### Steps to Reproduce:
[code]

### Expected Result:
API tokens file generated at `/etc/rundeck/tokens.properties`

### Actual Result:
Nothing happens

### Notes:
[templates/default/ramework.properties.erb#L110](https://github.com/sous-chefs/rundeck/blob/master/tem

[2019-02-04 18:42] #201 closed

[2019-02-05 00:51] mengesb opened #203 "rundeck_server_install outputs private_key content"
### Cookbook version
5.0.0

### Chef-client version
14.2.0

### Platform Details
RHEL 7.x

### Scenario:
rundeck user private key

### Steps to Reproduce:
[code]

### Expected Result:
No sensitive information output

### Actual Result:
[code]

Two problems, one being that the resource is not sensitive, and the other is the error message blatantly outputting the content

[2019-02-05 01:03] mengesb commented on #203
This happens on new installs:
[code]

[2019-02-05 07:19] #203 closed

[2019-02-05 18:52] mengesb opened #205 "MaxPermSize=256m deprecated"
### Cookbook version
5.0.0

### Chef-client version
14.2.0

### Platform Details
RHEL 7.x

### Scenario:
start rundeck w/o errors

### Steps to Reproduce:
rundeck_server_install 'rundeck'

### Expected Result:
No errors are logged in `/var/log/rundeckd/service.log`

### Actual Result:
[code]

[2019-02-05 18:59] #205 closed

[2019-04-25 23:58] PowerSchill opened #209 "Support the creation of projects [Feature Request]"
## Support the creation of projects

### Story

*As a*  cookbook user
*I want to*  support project creation
*So that* administrators can create Rundeck Projects

### Acceptance Criteria

*Given*  a project doesn’t exist
*When*  an administrator wants to create a project
*Then*  the project will be created accordingly

*Given*  a project does exist
*When*  an administrator wants to create a project

[2019-04-29 18:55] PowerSchill commented on #186
Closing due to inactivity.

If this is still an issue please reopen or open another issue. Alternatively drop by the #sous-chefs channel on the [Chef Community Slack](http://community-slack.chef.io/) and we'll be happy to help!

Thanks,
Sous-Chefs

[2019-04-29 18:55] #186 closed

[2019-04-29 19:02] PowerSchill commented on #112
Closing due to inactivity.

If this is still an issue please reopen or open another issue. Alternatively drop by the #sous-chefs channel on the [Chef Community Slack](http://community-slack.chef.io/) and we'll be happy to help!

Thanks,
Sous-Chefs

[2019-04-29 19:02] #112 closed

[2019-05-06 17:56] PowerSchill opened #211 "Update to support version 7.x of the Apache cookbook"
Update the cookbook and apache resource to utilize the resources defined in the 7.x Apache cookbook version.

[2019-05-06 18:00] PowerSchill opened #212 "Update documentation for 5.0.1 release"
Update all of the documentation and make sure resource documentation matches actual implementation

[2019-05-07 14:44] PowerSchill commented on #209
Closed with latest PR

[2019-05-07 14:44] #209 closed

[2019-05-07 14:45] PowerSchill commented on #127
Closing due to inactivity.

If this is still an issue please reopen or open another issue. Alternatively drop by the #sous-chefs channel on the [Chef Community Slack](http://community-slack.chef.io/) and we'll be happy to help!

Thanks,
Sous-Chefs

[2019-05-07 14:45] #127 closed

[2019-05-08 12:37] PowerSchill opened #218 "Fix Supermarket Foodcritic items"
### Cookbook version
5.0.1

### Chef-client version
N/A

### Platform Details
N/A

### Scenario:

Fix Supermarket Foodcritic items

[code]

[2019-05-09 13:24] #211 closed

[2019-05-09 13:24] #212 closed

[2019-05-09 13:26] PowerSchill commented on #184
This ticket is no longer valid with the current release of the Rundeck cookbook which uses the Rundeck CLI.

[2019-05-09 13:26] #184 closed

[2019-05-11 17:22] Xorima commented on #102
Closing due to inactivity.

If this is still an issue please reopen or open another issue. Alternatively drop by the #sous-chefs channel on the [Chef Community Slack](http://community-slack.chef.io/) and we'll be happy to help!

Thanks,
Sous-Chefs

[2019-05-11 17:22] #102 closed

[2019-05-11 17:22] Xorima commented on #97
Closing due to inactivity.

If this is still an issue please reopen or open another issue. Alternatively drop by the #sous-chefs channel on the [Chef Community Slack](http://community-slack.chef.io/) and we'll be happy to help!

Thanks,
Sous-Chefs

[2019-05-11 17:22] #97 closed

[2019-05-11 17:22] Xorima commented on #101
Closing due to inactivity.

If this is still an issue please reopen or open another issue. Alternatively drop by the #sous-chefs channel on the [Chef Community Slack](http://community-slack.chef.io/) and we'll be happy to help!

Thanks,
Sous-Chefs

[2019-05-11 17:22] #101 closed

[2019-05-28 19:46] #218 closed

[2019-08-07 18:57] damacus commented on #173
I think this seems like a sensible step and a pretty darn simple one. Once someone can work on the issue please go ahead!

[2019-09-24 20:55] gangadhar01a opened #231 "Rundeck resulting in validation, apache, error"
Hi,

Our rundeck environment use nginx as reverse proxy instead of apache2. I have tried to install rundeck using the cookbook, and I ran chef client on the target machine expecting this will install rundeck. Instead it's resulted in following error.

Relevant File Content:
----------------------
/opt/kitchen/cache/cookbooks/apache2/resources/conf.rb:

  4:           default: lazy { "#{apache_dir}

[2019-09-24 23:21] gangadhar01a commented on #231
Upgrading the chef client to 14 fixed teh issue

[2019-09-24 23:21] #231 closed

[2019-09-24 23:22] gangadhar01a opened #232 "Rundeck - NoMethod Error"
Hi,

I am trying to use RUNDECK supermarket cookbook to install and configure on centos 7 machine. Running chef client, local mode, resulted in undefined method error, I have included  "rundeck" as dependency in metadata.rb and I expect chef will have access to the resources/methods exist in rundeck chef cookbook.
Unfortunately, this resulted in

"NoMethodError
-------------
undefined method `serv

[2019-09-25 00:50] PowerSchill commented on #232
Can you provide how you are calling the server_install resource?

[2019-09-25 19:15] gangadhar01a commented on #232
I have following recipes in recipe folder

-default.rb
#
# Cookbook:: my_cookbook
# Recipe:: default
#
# Copyright:: 2019, The Authors, All Rights Reserved.
include_recipe "#{cookbook_name}::install"

- install.rb
server_install 'Rundeck' do
  action :install
end

Ran the below command to run chef on locally, which resulted the method not found error.
chef-client -z -o my_cookbook

[2019-09-25 22:22] PowerSchill commented on #232
When you reference a resource from a cookbook you have to prepend the resource with the name of the cookbook so you would have something like:

[code]

[2019-09-26 22:15] gangadhar01a commented on #232
That worked.
Does documentation has this information?

[2019-09-26 22:42] PowerSchill opened #233 "Update documentation to correctly reference cookbook name in front of resources."
That worked.
Does documentation has this information?

_Originally posted by @gangadhar01a in https://github.com/sous-chefs/rundeck/issues/232#issuecomment-535706607_

[2019-09-26 22:42] PowerSchill commented on #232
No, but I created a new issue to make sure the documentation gets updated.

[2019-09-27 16:54] gangadhar01a commented on #232
Thank you!

I have facing 2 issues, with server install resource.
1)
Yum is looking for package "rundeck-0:3.0.8.20181029-1.201810292220.noarch" and the dependencies are not available

install.rb
rundeck_repository 'rundeck repo' do
  package_uri  'https://dl.bintray.com/rundeck/rundeck-rpm'
  gpgkey       'http://rundeck.org/keys/BUILD-GPG-KEY-Rundeck.org.key'
  gpgcheck     false
end
rundeck_ser

[2019-09-28 18:02] PowerSchill commented on #232
Apparently Rundeck has deprecated the rundeck-config package with version 3.1.0 so now it presents as an error. I am working on an update to fix this now.

[2019-09-30 16:05] gangadhar01a commented on #232
Thank you @PowerSchill . Please let me know when the fix is merged.

[2019-09-30 21:28] gangadhar01a opened #235 "Updating profile"
Hi,

Is there a way to update/add the parameters under profile?

I need to add/update the following param's

"-Djava.security.auth.login.config=/etc/rundeck/jaas-loginmodule.conf \
-Dloginmodule.name=ldap \
RDECK_HTTPS_PORT=${RDECK_HTTPS_PORT:-8090}
-Djava.security.krb5.realm=hautelook.local
-Djava.security.krb5.kdc=prod-adc2.hautelook.local
export RDECK_JVM="$RDECK_JVM -Dcom.dtolabs.rundeck.jetty

[2019-09-30 22:39] gangadhar01a opened #236 "Please provide an example of using hash for admin policy"
Hi,

It will be nice if you can provide few examples of how a user can use the hash inside the recipe (server_install). I have been trying to set admin policy using, and provided the hash value as per the documentation, which is throwing an error

"NoMethodError
    -------------
    undefined method `each' for "adminpolocy":String"

I request to update the documentation with some examples.

Thank

[2019-09-30 22:42] PowerSchill commented on #236
I have an example in the unit tests. Look at https://github.com/sous-chefs/rundeck/blob/master/test/cookbooks/test/attributes/default.rb#L1 for an example.

[2019-10-01 23:27] #232 closed

[2019-10-01 23:27] #233 closed

[2019-10-02 22:59] gangadhar01a commented on #235
Hi @PowerSchill ,
I am sorry if you are the wrong person to be tagged here. Just want check is there way to update and add parameters in profile.

**I need to update**
RDECK_HTTPS_PORT:-8090

**and need to add**
-Djava.security.krb5.realm=hautelook.local
-Djava.security.krb5.kdc=prod-adc2.hautelook.local
export RDECK_JVM="$RDECK_JVM -Dcom.dtolabs.rundeck.jetty.jaas.LEVEL=DEBUG -Drundeck.ssl.config

[2019-10-02 23:21] gangadhar01a commented on #235
Nvm @PowerSchill , We have decided to run rundeck on port 4443 and using "custom_jvm_properties" required parameters updated in profile file.

Thank you!

[2019-10-02 23:21] #235 closed

[2019-10-02 23:21] gangadhar01a commented on #236
Thank you.
It worked.

[2019-10-02 23:21] #236 closed

[2019-10-09 22:30] PowerSchill opened #237 "Dangerfile should use failure instead of fail"
### :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

On the repo, ensure that `Dangerfile` matches https://github.com/sous-chefs/repo-management/blob/master/Dangerfile

Issue sprouted from sous-chefs/meta/#110. If not applicable then issue s

[2019-10-09 22:30] PowerSchill opened #238 "Remove .rubocop.yml with Dangerfile"
### :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

If the only thing in the `.rubocop/yml` is Dangerfile
Run the latest cookstyle
Remove `.rubpopo.yml`

Issue sprouted from sous-chefs/meta/#108. If not applicable then issue should be close

[2019-10-09 22:30] PowerSchill opened #239 "Remove .rubocop.yml with Dangerfile"
### :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

Update all CHANGELOGs to follow standard defined at <https://keepachangelog.com/>

Issue sprouted from sous-chefs/meta/#101. If not applicable then issue should be closed.

[2019-10-09 22:30] PowerSchill opened #240 "Run latest cookstyle"
### :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

Chef have released updated cookstyle rules, we should therefore run the auto fix against the cookbook

1. Ensure you are on the latest stable `chef-workstation`
1. Run `cookstyle -a`

Issu

[2019-10-09 22:30] PowerSchill opened #241 "Update builds to be parallel"
### :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

As part of our build process we should build each possible operating system separately

1. Ensure you have dokken setup and working:
  1. dokken: aliased to KITCHEN_LOCAL_YAML=kitchen.dokk

[2019-10-09 22:32] #241 closed

[2019-10-09 22:32] #240 closed

[2019-10-09 22:32] #239 closed

[2019-10-09 22:32] #238 closed

[2019-10-09 22:32] #237 closed

[2019-10-09 22:36] PowerSchill opened #242 "Dangerfile should use failure instead of fail"
### :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

On the repo, ensure that `Dangerfile` matches https://github.com/sous-chefs/repo-management/blob/master/Dangerfile

Issue sprouted from sous-chefs/meta/issues/110. If not applicable then i

[2019-10-09 22:36] PowerSchill opened #243 "Remove .rubocop.yml with Dangerfile"
### :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

If the only thing in the `.rubocop/yml` is Dangerfile
Run the latest cookstyle
Remove `.rubpopo.yml`

Issue sprouted from sous-chefs/meta/issues/108. If not applicable then issue should be

[2019-10-09 22:36] PowerSchill opened #244 "Update Changelog"
### :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

Update all CHANGELOGs to follow standard defined at <https://keepachangelog.com/>

Issue sprouted from sous-chefs/meta/issues/101. If not applicable then issue should be closed.

[2019-10-09 22:36] PowerSchill opened #245 "Run latest cookstyle"
### :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

Chef have released updated cookstyle rules, we should therefore run the auto fix against the cookbook

1. Ensure you are on the latest stable `chef-workstation`
1. Run `cookstyle -a`

Issu

[2019-10-09 22:36] PowerSchill opened #246 "Update builds to be parallel"
### :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

As part of our build process we should build each possible operating system separately

1. Ensure you have dokken setup and working:
  1. dokken: aliased to KITCHEN_LOCAL_YAML=kitchen.dokk

[2019-10-09 23:06] gangadhar01a opened #247 ""rundeck-config deprecation" changes are not reflecting"
hi @PowerSchill ,
I am using rundeck 5.0.2 cookbook, the changes which you have done in below PR not reflecting. I have to manually update the changes on machine and then I am able to install rundeck. Am I missing anything?

https://github.com/sous-chefs/rundeck/pull/234/files

[2019-10-10 00:38] PowerSchill commented on #247
That is because those changes have not been pushed to the supermarket. You can either build from master or if you want I can generate a new release and push to the supermarket.

[2019-10-10 16:34] gangadhar01a commented on #247
Having changes is supermarket definitely helps.

[2019-10-10 22:09] gangadhar01a opened #249 "How I can avoid "test connection to the authentication endpoint""
Hi,

I am receiving a following open ssl error. However, the rundeck service is up and running and I am able to access it on port 4443.

Is there a way to dodge/fix this check ?

"================================================================================
      Error executing action `run` on resource 'ruby_block[wait for rundeckd startup]'
      ==============================================

[2019-10-11 20:40] gangadhar01a commented on #249
I have updated the grails url to "https://localhost" and port to "4443" which is open for the network.
Now I am getting an error related to certificate

      ================================================================================
      _Error executing action `run` on resource 'ruby_block[wait for rundeckd startup]'
      ==================================================================

[2019-10-11 21:16] gangadhar01a commented on #249
Issue has been fixed by updating the port to 80 and url to http://localhost.

[2019-10-11 21:58] gangadhar01a commented on #249
I am re-opening this ticket because of the following reason.

Rundeck went through start up script when I have provided the grailsURL : http://localhost and port 80 but for production purpose we need to set the grailsURL to "https://rundeck.nrhl.com" and port to "4443".
Unfortunately, providing these values resulting in open ssl error as mentioned above.

[2019-10-14 00:18] PowerSchill commented on #247
Let me get a few of these cleanup issues closed and I can work on getting a release.

[2019-10-14 03:13] #244 closed

[2019-10-14 16:41] gangadhar01a commented on #247
Thank you @PowerSchill

[2019-10-14 16:41] #247 closed

[2019-10-16 00:31] PowerSchill commented on #249
Assuming that you aren't using the Apache front end, are you setting use_inbuilt_ssl?

[2019-10-16 00:35] #242 closed

[2019-10-16 00:36] #243 closed

[2019-10-16 00:36] #245 closed

[2019-10-17 19:00] gangadhar01a commented on #249
@PowerSchill I haven't defined "use_inbuilt_ssl" in my recipe and not using Apache too.

[2019-10-17 22:09] PowerSchill commented on #249
I think use_inbuilt_ssl is needed to do ssl when not using Apache but not really sure since I do Apache. I will see if I can set up a test for it.

[2019-10-21 16:52] gangadhar01a commented on #249
I have set use_inbuilt_ssl  to true and tried, which complained the following error

      OpenSSL::SSL::SSLError
      ----------------------
      SSL_connect returned=1 errno=0 state=SSLv2/v3 read server hello A: unknown protocol

[2019-10-21 18:33] gangadhar01a commented on #249
Updated the NGINX confi to support TLS, which fixed the issue.

Thanks for co-ordinating and providing the required information @PowerSchill

[2019-10-21 18:33] #249 closed

[2019-11-12 23:38] #246 closed

[2020-01-15 18:28] gangadhar01a opened #258 "Any changes in chef cookBook? Some of the functionalities are not available."
### :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

Since Nov we have started using rundeck cookbook to manage application and we haven't pinned the version of cookbook in metadata.rb (depends 'rundeck').
Since few days we have identified t

[2020-01-15 19:53] PowerSchill commented on #258
We haven't released a new version since October 2019 so it wouldn't be a new release. Has the version of Rundeck been updated in your repo? I know there have been some big changes with packages and the UI recently.

[2020-01-16 08:13] gangadhar01a commented on #258
I haven't mentioned the rundeck version in cookbook.  I have been through the cirlceCI builds to know what version the cookbook pulled to install and I can confirm since few months it's running on Rundeck 3.0.8-20181029

CircleCI builds:
3months ago:
    * yum_package[rundeck-config] action install
      - install version 3.0.8.20181029-1.201810292220 of package rundeck-config
    * yum_package[ru

[2020-01-26 18:47] PowerSchill commented on #258
Nothing has changed so I don't know why your builds would have just started failing if the Rundeck version is still the same.

[2020-09-30 23:22] josephholsten commented on #173
FYI: @bscott is back at https://github.com/oswaldlabs/chef-rundeck/issues/71

[2021-06-02 02:57] #258 closed